<div class="container">

    <div class="jumbotron mt-5">
        <div class="col-sm-8-auto">

            <h1 class="text-center">Informacion</h1>
        </div>
        <table class="table col-md-6 auto-mx">
            <tr>
                <td>Nombre</td>
                <td>{{details?.Nombre}}</td>

            </tr>
            <tr>
                <td>Apellidos</td>
                <td>{{details?.Apellidos}}</td>

            </tr>
            <tr>
                <td>email</td>
                <td>{{details?.email}}</td>

            </tr>
        </table>
    </div>
</div>