<div class="container">

    <div class="row">

        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="register()" class="action">
                <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
<div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="text" class="form-control" name ="Nombre" placeholder="Ingresa el nombre"[(ngModel)]="credentials.Nombre">
</div>

<div class="form-group">
    <label for="Apellidos">Apellidos</label>
    <input type="txt" class="form-control" name ="Apellidos" placeholder="Ingresa el apellido"[(ngModel)]="credentials.Apellidos">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name ="email" placeholder="Ingresa email"[(ngModel)]="credentials.email">
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name ="password" placeholder="Ingresa password"[(ngModel)]="credentials.password">
</div>

<button  type="submit" [@botonanimado]="state" (click)="togleBoton()" class="btn btn-lg btn-primary btn-block">Registro</button>


            </form>
        </div>
    </div>
</div>